.wrapper {
  background: rgb(175, 175, 175);
  background-image: url('http://images6.fanpop.com/image/photos/38600000/Family-Guy-family-guy-38689920-1600-900.jpg');
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}